<div class="card">
  <div class="card-body">
    <h5 class="card-title text-left">
      <i class="fas fa-phone-alt" style="color: #37474f;"></i>
      <h5 style="display: inline; margin-left: 5px; color: #37474f;">
        none
      </h5>
    </h5>
    <h5
      class="card-body text-left pb-0 pt-0"
      style="font-size: 13px; color: #6a1fe2;"
    >
      <span style="font-weight: 500; display: inline;">
        Rabbani
      </span>
      <span>reported via phone</span>
    </h5>
    <div class="card-body text-left pb-0 pt-0">
      <span class="badge badge-success pt-0">New</span>
    </div>
    <a href="#" class="btn btn-secondary" >Go somewhere</a>
  </div>
</div>
